body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 238, 230);
  font-family: "Josefin Sans", sans-serif;
  

}
header h1{
    text-align: center;
    font-size: 30px;
    color: rgb(240, 121, 121);
    margin: 25px;

}
h3{
                  font-size: 30px
}

section{
    color: rgb(186, 132, 107);
    font-size: 30px;
}
.first-sec{
    padding: 20px;

}
.seond-sec{
        padding: 20px;
         font-size: 30px;


}
.third-sec{
        padding: 20px;

}